.btn {
  position: relative;
  outline: none;
  text-decoration: none;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 45px;
  width: 130px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.6);
  transition: all 0.2s;
}

.btn .btn_span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #000000;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

.btn:hover {
  animation: bn54rotate 0.7s ease-in-out both;
}

.btn:hover .btn_span {
  animation: bn54storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
.btn:active .btn_span {
  animation: bn54storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}
.btn:active {
  animation: bn54rotate 0.7s ease-in-out both;
}

/* RESET BUTTON */
.reset_btn {
  background-color: red;
  border: none;
  width: 100%;
  transition: all 0.3s ease;
}
.reset_btn span {
  color: white !important;
}
.reset_btn:hover {
  animation: none;
}

.reset_btn:hover span {
  animation: none;
}
.reset_btn:active .btn_span {
  animation: none;
}
.reset_btn:active {
  animation: none;
}
.reset_btn:active {
  transform: scale(1.01);
}

@keyframes bn54rotate {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }
  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }
  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }
  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes bn54storm {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }
  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }
  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }
  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

@media only screen and (max-width: 700px) {
  .btn {
    height: 35px;
    max-width: 110px;
  }
  .reset_btn {
    height: 45px;
    max-width: 100%;
    background-color: red;
    border: none;
  }
  .reset_btn span {
    color: white !important;
  }
}
