.hero {
  position: relative;
  padding: 10rem;
  padding-bottom: 0;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 5rem;
  z-index: 3;
  color: white;
  justify-content: flex-start;
  align-items: flex-start;
}
.hero_bg {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
}
.hero_bg video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  position: relative;
  z-index: 1;
}
.hero_bg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.hero div:first-child {
  display: flex;
  flex-direction: column;
}
.hero div:last-child {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.hero img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: contain;
}
.hero h1 {
  font-weight: 600;
  font-size: 5rem;
  margin-bottom: 2rem;
}
.hero p {
  max-width: 70%;
  text-align: left;
  align-items: flex-start;
  font-size: 2rem;
  line-height: 1;
}

.features {
  padding: 10rem;
  padding-top: 0;
}
.tour,
.tech,
.about {
  padding: 10rem;
  padding-top: 5rem;
}

.features div ul h2,
.tour h2,
.tech h2,
.about h2 {
  font-size: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}
.features div ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  gap: 1rem;
}
.features div ul li {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 2rem;
  transition: all 0.1s ease;
}
.features div ul li:hover {
  color: rgb(199, 90, 90);
}
.features div ul li img {
  width: 5rem;
}
.tour div {
  height: auto;
  display: flex;
  justify-content: center;
}
.tour iframe {
  width: 100%;
  height: 50rem;
}
.tech ul {
  list-style: none;
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.tech ul li:first-child img {
  width: 13rem;
}
.tech ul li:nth-child(2) img {
  width: 8rem;
}
.tech ul li:nth-child(3) img {
  width: 20rem;
}
.tech ul li:nth-child(4) img {
  width: 20rem;
}
.tech ul li p {
  align-self: baseline;
  text-align: center;
  padding-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
}
.about_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: flex-start;
}
.about_container > div {
  display: flex;
  padding: 5rem;
  align-items: flex-start;
}
.about_container div:first-child {
  flex-direction: column;
  max-width: 80%;
}
.about_container div p {
  margin-top: 1rem;
  font-size: 2rem;
  text-align: left;
}

.about_container div img {
  width: 100%;
  border-radius: 5px;
}

.links {
  display: flex;
  justify-content: flex-start;
  padding: 0;
  gap: 2rem;
  flex-direction: column;
}
.links p {
  text-align: left;
  font-weight: 600;
}
.links a {
  display: flex;
  align-items: center;
  font-size: 2rem;
  transition: all 0.2s;
}
.links a img {
  width: 4rem;
}
.links a:hover {
  transform: translateY(-5px);
}
.link_linkedin:hover {
  color: rgb(81, 81, 214);
}
.link_github:hover {
  color: gray;
}
.link_gmail:hover {
  color: red;
}
.link_portfolio:hover {
  color: green;
}
.footer {
  background-color: rgb(77, 77, 77);
  color: white;
  display: flex;
  padding: 1rem 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer p {
  font-size: 1.22rem;
}
.footer img {
  width: 15rem;
}

@media only screen and (max-width: 1100px) {
  .hero {
    display: flex;
    flex-direction: column;
    padding-top: 10rem;
    text-align: center;
  }
}
@media only screen and (max-width: 900px) {
  .hero {
    display: flex;
    gap: 10rem;
    flex-direction: column;
    padding: 3rem;
    padding-top: 5rem;
  }
  .hero div:first-child {
    padding-top: 5rem;
  }
  .hero div:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .hero p {
    max-width: 100%;
  }
  .features {
    padding: 3rem;
    padding-top: 0;
  }
  .features div ul li {
    display: flex;
    align-items: flex-start;
    font-size: 2rem;
  }
  .tour iframe {
    width: 100vw;
    height: 30rem;
  }
  .about_container div:first-child {
    flex-direction: column;
    max-width: 100%;
  }
  .about_container {
    display: flex;
    flex-direction: column;
  }
  .about {
    padding: 3rem;
  }
}

@media only screen and (max-width: 700px) {
  .hero {
    padding: 2rem;
    display: flex;
    height: 90vh;
    padding-top: 4rem;
  }
  .hero h1,
  .features div h2 {
    font-size: 4rem;
  }
  .features {
    padding: 2rem;
    padding-top: 10rem;
  }
  .about {
    padding: 2rem;
  }
  .about_container > div {
    padding: 2rem;
  }
}
