/* Canvas Name */
.canvas_name {
  padding: 1rem 5rem;
  height: 5rem;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.canvas_name span {
  font-size: 2rem;
  text-align: center;
  border-bottom: 2px solid black;
}
.canvas_name img {
  height: 2rem;
  cursor: pointer;
}
.canvas_name input {
  font-size: 2rem;
  min-width: 7rem;
  border: none;
  border-bottom: 2px solid black;
}
.canvas_name input:focus-visible {
  border: none;
  outline: none;
  border-bottom: 2px solid black;
}

.canvas_container {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.controls_group {
  user-select: none;
  display: flex;
  margin-bottom: 2rem;
  padding: 0rem 1rem;
  align-items: center;
}
.save_btn {
  border: 2px solid thistle;
  border-radius: 5px;
  padding: 0.4rem 1rem;
  font-size: 2rem;
  font-weight: 300;
  background: transparent;
  cursor: pointer;
}
.undo_redo_clear {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1.5rem;
}
.undo_redo_clear img {
  width: 3rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  border-radius: 5px;
}
.undo_redo_clear img:active {
  transform: scale(1.1);
  /* background-color: rgb(221, 117, 117); */
  background-color: #ff000063;
}
.active {
  background-color: rgb(221, 117, 117);
}
.controls {
  width: 100%;
  flex: 1;
}
.control_heading {
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  margin-top: -5rem;
}
.canvas_controls {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 5rem;
  padding-right: 2rem;
}
.canvas_control_group {
  display: flex;
  gap: 2rem;
  width: 100%;
  align-items: center;
}
.canvas_control_group label {
  font-size: 1.5rem;
  min-width: 20%;
}
.range {
  width: 70% !important;
}

.range_value {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  background-color: rgb(32, 27, 32);
  border-radius: 50%;
  color: white;
  font-size: 1.5rem;
}
.range_value:nth-child(3) {
  height: 5rem;
  width: 5rem;
}
.canvas_control_color_group {
  flex-wrap: wrap;
  gap: 1rem;
}
.canvas_control_color_group > input {
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  color: #008000;
}
.color {
  width: 3rem;
  border-radius: 50%;
  height: 3rem;
  cursor: pointer;
  opacity: 0.9;
}
.color:active {
  opacity: 1;
}
/* .range::-webkit-slider-runnable-track {
  background-color: thistle;
  height: 5px;
}
.range::-webkit-slider-thumb {
  width: 5px;
  background-color: #fff;
  color: red;
} */

@media only screen and (max-width: 1100px) {
  .canvas_container {
    flex-direction: column;
    gap: 4rem;
  }
  .control_heading {
    margin-top: 0;
  }
}

@media only screen and (max-width: 900px) {
  .canvas_container {
    padding: 5rem 2rem;
    flex-direction: column;
  }
  .range {
    width: 50%;
  }
}
@media only screen and (max-width: 600px) {
  .canvas_container {
    padding: 5rem 1rem;
    flex-direction: column;
  }

  .undo_redo_clear {
    gap: 1rem;
  }
  .canvas_controls {
    padding: 2rem;
  }
  .undo_redo_clear img {
    width: 3rem;
    cursor: pointer;
  }
  .range {
    width: 40%;
  }
  .canvas_control_group {
    display: flex;
    gap: 1rem;
  }
}
